/* General Styling */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  font-size: 125%;
  background: rgb(233,243,231);
}

ul {
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

h1,
h2,
h3,
button {
  font-family: 'Lobster', cursive;
}

h1,
h2,
h3 {
  color: rgb(196,42,45);
}

h1 {
  font-size: 5rem;
  text-shadow: 3px 3px rgb(254,204,189);
}

p,
a {
  font-family: 'Cabin', sans-serif;
}

li p {
  font-size: 1.3rem;
}

button {
  border: 0;
  background: none;
}



header {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information-btn{
  font-size: 2rem;
  position: absolute; 
  top: 20px;
  right: 20px;
  color:rgb(196,42,45);
}

.information-btn i:focus {
  text-shadow: 0 0 5px green;
}

.game-field,
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trash-card-container {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;

}

.trash-card-and-inputs {
  width: calc(100% / 3 - 10px);
  padding: 20px;
  height: 150px;
  border: 8px solid orange;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #FAFAFA;
}

li {
  list-style-type: none;
}

li p {
  width: 100%;
}

input {
  position: absolute;
  top: -15px;
}

input:first-of-type {
  left: 10px;
}

input:first-of-type::before {
  content:"";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid rgba(6, 114, 46, 0.4);
  background-color: #FAFAFA;
  position: absolute;
  left: -8px;
  top: -4px;
}
input:first-of-type:focus::before {
  box-shadow: 0px 0px 10px rgb(6, 114, 46);
}

input:first-of-type::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #FAFAFA;
  position: absolute;
  left: -1px;
  top: 3px;
}

input:first-of-type:checked::after {
  background-color: rgb(6, 114, 46);
}

input:first-of-type:checked::before{
  border: 4px solid rgba(6, 114, 46, 1);
}

input:nth-of-type(2)::before {
  content:"";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid rgba(37, 83, 233, 0.4);
  background-color: #FAFAFA;
  position: absolute;
  left: -8px;
  top: -5px;
}

input:nth-of-type(2)::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #FAFAFA;
  position: absolute;
  left:-1px;
  top: 2px;
}

input:nth-of-type(2):checked::after {
  background-color: rgb(37, 83, 233);
}

input:nth-of-type(2):checked::before{
  border: 4px solid rgba(37, 83, 233, 1);
}

input:nth-of-type(2):focus::before {
  box-shadow: 0px 0px 10px rgb(37, 83, 233);
}


input:last-of-type::before {
  content:"";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid rgba(32, 32, 34, 0.4);
  background-color: #FAFAFA;
  position: absolute;
  left: -6px;
  top: -4px;
}

input:last-of-type::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #FAFAFA;
  position: absolute;
  left: 1px;
  top: 3px;
}

input:last-of-type:checked::after {
  background-color: rgb(32, 32, 34);
}

input:last-of-type:checked::before{
  border: 4px solid rgba(32, 32, 34, 1);
}

input:last-of-type:focus::before {
  box-shadow: 0px 0px 10px rgb(32, 32, 34);
}

input:last-of-type {
  right: 10px;
}

.proceed-buttons button {
  background: #FAFAFA;
  border: 8px solid rgb(196,42,45);
  padding: 15px 30px;
  border-radius: 8px;
}

.proceed-buttons {
  width: 100%;
}

.next,
.submit {
  float: right;
}

.previous {
  float: left;
}

.trash-bins {
  margin-top: 60px;
  width: 80%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.2rem;
}

.trash-bins i {
  font-size: 2.5rem;
}

.organic {
  color: rgb(6, 114, 46);
}
.recycling {
  color: rgb(37, 83, 233);
}
.garbage {
  color: rgb(32, 32, 34);
}

.bin {
  background: #FAFAFA;
  padding: 15px;
  width: calc(100% / 3 - 10px);
  text-align: center;
  border: 8px solid orange;
  border-radius: 8px;
}

footer {
  background: #FAFAFA;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: -10px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

a {
  font-weight: 600;
  color: rgb(196,42,45);
  text-decoration: none;
}

.info {
  z-index: 1;
  position: fixed;
  top: 10%;
  right: 20%;
  left: 20%;
  background: rgb(196,42,45);
  color: #FAFAFA;
  padding: 20px 50px;
  box-shadow: -5px 5px  30px #FAFAFA, 5px -5px 30px #FAFAFA;
  border-radius: 10px;
 
}

.info i {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #FAFAFA;
  font-size: 2rem;
}

.info h2,
.info h3 {
  color: #FAFAFA;
  text-shadow: 2px 2px rgb(238, 113, 75);
  margin: 0;
}

.info h2 {
  font-size: 2rem;
}

.info h3 {
  font-size: 1.8rem;
}

.info-container {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  background: #FAFAFA;
  box-shadow: 5px 5px rgb(238, 113, 75);
  color: rgb(32, 32, 34);
  margin-bottom: 30px;
}

.info-container p {
  margin: 3px 0;
}

/* .info-container:first-of-type {
  margin-bottom: 20px;
} */